<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>PissCord App</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
    <form action="/room/create">
        <button type="submit" class="home-btn">Create Room</button>
    </form>
    <form action="/room/join">
        <button type="submit" class="home-btn">Join Room</button>
    </form>
    </div>
</body>

</html>